
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-block {
    width: 20%;
    background-color: grey;
    padding: 0 5%;
    height: 100vh;
    color: white;
}

.board-container {
   width: 70%;
   padding: 2%;
}

#add-board-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: 0
}

input {
    padding: 2%;
    border: 1px solid grey;

}

.project-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    background-color: grey;
    padding: 2%;
    border-radius: 5px;
    margin:10px 0;
    width: 30%;
}

@media (max-width: 400px) {
    .project-card { 
        width: 45%;
    }
}

.add-board-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.board-block {
    margin-top: 3%;
    display: none;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    padding: 1%;
    background-color:#186CA3;
    color: white;
}
.board-name{
    font-size: 22px;
    font-weight: bolder;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}
#removeBoards{
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    border-radius: 5px;
}

.taskList{
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
li{
    padding: 10px;
}
